{% if editmode %}
    <div class="editmode-label align-middle">
        Simple Form Object:
    </div>
    {{ pimcore_relation("formObject",{
        "types": ["object"],
        "subtypes": {
            "object": ["object"]
        },
        "classes": ["SimpleForm"],
        "reload": true
    }) }}
{% endif %}

{% if form is not null %}
    {% set layout = pimcore_relation("formObject").getElement().getLayout() | default('form_table') %}
    {% set useHoneyPot = pimcore_relation("formObject").getElement().getUseHoneyPot() | default(false) %}
    {% form_theme form layout ~ '_layout.html.twig' %}

    <section class="container">
        {{ form_start(form) }}
            {% if useHoneyPot %}
                {{ form_widget(form.email, {attr: {class: 'form-control', style: 'display:none !important', tabindex: '-1', autocomplete: 'off'}}) }}
            {% endif %}
            
            {{ form_widget(form.fields) }}

            {{ form_widget(form.submit, {'label': ('Submit' | trans)}) }}
        {{ form_end(form) }}
    </section>
{% endif %}